# Игнорируем все файлы, которые должны быть исключены
.cursorignore
*.exe
*.exe.manifest
static/js/goodslist.js
static/css/goodslist.css
templates/goodslist.html

# Исключаем из игнорирования go.sum
!go.sum
!README.md
.aider*
.cursorignore
.env
kassa